<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-inr fa-fw"></i> Expenses</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Create Expense
    </div>
    <div class="panel-body">
        <form name="expenseForm" novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label">User name</label></td>
                    <td><span user-name us="userName"></span></td>
                </tr>

                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label" >Branch</label></td>
                    <td><span  branch-name bn="branchName"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label">Date *</label></td>
                    <td class="firstcol">
                        <input type="date" name="expenseDate" id="expenseDate" ng-model="expense.expenseDate" required/>
                        <span class="error" ng-messages="expenseForm.expenseDate.$error" ng-if="expenseForm.expenseDate.$touched">
                            <span ng-message="required">Select Date.</span>
                        </span>
                    </td>
                </tr>


            </table>
            <br>
            <br>
            <div style="border-radius:20px;border: 2px solid #3dad9c;">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th style="min-width: 20px;">Reason</th>
                        <th style="min-width: 20px;">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exp in expense.expenseDetails track by $index">
                        <td style="width: 70%;">
                            <input type="text" name="reason{{ $index }}" id="reason" ng-model="expense.expenseDetails[$index].reason" required/>
                            <span class="error" ng-messages="expenseForm.reason{{ $index }}.$error" ng-if="expenseForm.reason{{ $index }}.$touched">
                                <span ng-message="required">Reason is require.</span>
                            </span>
                        </td>
                        <td>
                            <input type="number" ng-change="getTotal($index)" name="amount{{ $index }}" id="amount" ng-model="expense.expenseDetails[$index].amount" required/>
                            <span class="error" ng-messages="expenseForm.amount{{ $index }}.$error" ng-if="expenseForm.amount{{ $index }}.$touched">
                                <span ng-message="required">Amount is require.</span>
                            </span>
                        </td>
                        <td><a ng-click="addRow()" class="btn btn-small btn-primary">ADD</a></td>
                        <td><a ng-click="removeRow($index)" class="btn btn-small btn-primary">REMOVE</a></td>
                    </tr>

                    <tr>
                        <td style="min-width: 20px;">Total</td>
                        <td style="min-width: 20px;"><label class="control-label" ng-model="expense.totalAmount">{{total}}</label></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="submitExpense()" class="btn btn-small btn-primary">Submit</a>
                    <a ui-sref="home.expense-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Expense</a>
                </div>
            </div>
        </form>
    </div>
</div>
