    <div class="control-group,form">
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <div class="control-group,form">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Personal Details</label></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label class="control-label" >Branch:</label></td>
                        <td><label class="control-label">{{ getBranchDesc(student.branchCode) }}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" >Name of The Student</label></td>
                        <td><label class="control-label">{{student.name}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="dateOfBirth">Date Of Birth</label></td>
                        <td><label class="control-label">{{student.dateOfBirth | date}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="fatherOrMotherName">Father/Mother Name</label></td>
                        <td><label class="control-label">{{student.fatherOrMotherName}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="age">Age</label></td>
                        <td><label class="control-label">{{student.age}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="gender">Gender</label></td>
                        <td><label class="control-label">{{student.gender}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="nationality">Nationality</label></td>
                        <td><label class="control-label">{{student.nationality}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="religion">Religion</label></td>
                        <td><label class="control-label">{{student.religion}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="caste">Caste</label></td>
                        <td><label class="control-label">{{student.caste}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="maritalStatus">Marital Status</label></td>
                        <td><label class="control-label">{{student.maritalStatus}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="mailId">Email Address</label></td>
                        <td><label class="control-label">{{student.mailId}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="phoneNumber">Mobile Number</label></td>
                        <td><label class="control-label">{{student.phoneNumber}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="alternatePhoneNumber">Alternate Mobile Number</label></td>
                        <td><label class="control-label">{{student.alternatePhoneNumber}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="englishFluency">English Fluency</label></td>
                        <td><label class="control-label">{{student.englishFluency}}</label></td>
                    </tr>
                    <tr>
                        <td><label class="control-label" for="joiningDate">Joining Date</label></td>
                        <td><label class="control-label">{{student.createdDate | date}}</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label class="control-label" for="doorNumber">Address 1</label></td>
                    <td><label class="control-label">{{student.address.doorNumber}}</label></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="streetName">Address 2</label></td>
                    <td><label class="control-label">{{student.address.streetName}}</label></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="taluk">Taluk</label></td>
                    <td><label class="control-label">{{student.address.taluk}}</label></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="state">District</label></td>
                    <td><label class="control-label">{{student.address.district}}</label></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="postalCode">Postal Code</label></td>
                    <td><label class="control-label">{{student.address.postalCode}}</label></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Qualification Details</label></td>
                </tr>
                </thead>
                <tbody ng-repeat="educationDetail in student.educationDetails track by $index">
                <tr>
                    <td>
                        <label class="control-label" for="examPassed">Examination Passed</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.examPassed}}</label></td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label" for="instituteName">Institute Name</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.instituteName}}</label></td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label" for="groupName">Group Name</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.groupName}}</label></td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label" for="passingYear">Year Of Passing</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.passingYear}}</label></td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label" for="percentageObtained">Percentage Obtained</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.percentageObtained}}</label></td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label" for="remark">Remarks</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.remark}}</label></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Family Details</label></td>
                </tr>
                </thead>
                <tbody ng-repeat="guardian in student.guardians track by $index">
                <tr>
                    <td><label class="control-label" for="relationShip">RelationShip with Student</label></td>
                    <td><label class="control-label">{{guardian.relationShip}}</label></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="name">{{guardian.relationShip}}'s Name</label></td>
                    <td><label class="control-label">{{guardian.name}}</label></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="phoneNumber">Phone Number</label></td>
                    <td><label class="control-label">{{guardian.phoneNumber}}</label></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div style="border-radius:20px;border: 2px solid #3dad9c;">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Course,Fees And Referral Details</label></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label class="control-label">Course Name</label></td>
                <td><label class="control-label">{{getCourseDesc(student.courseCode)}}</label></td>
            </tr>
            <tr>
                <td><label class="control-label">Referred By</label></td>
                <td><label class="control-label">{{ getMarketingEmployeeName(student.marketingEmployeeCode) }}</label></td>
            </tr>
            <tr>
                <td><label class="control-label">Scheme Name</label></td>
                <td><label class="control-label">{{getSchemeDesc(student.schemeCode)}}</label></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td align="left"><a include-if-allowed operation="student" href="#/student-list">Student List</a><br></td>
                <td align="right"><a ng-click="goToFms(student.code)" class="btn btn-small btn-primary">Manage Documents</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
