<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-graduation-cap fa-fw"></i> Students</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<link rel="stylesheet" href="/public/css/scholar.css">
    <div class="control-group,form">
        <div class="col-lg-pull-10" align="center">
            <img ng-src="{{src}}" style="height:200px;width:160px;" alt="Photo not uploaded!"/>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <div class="control-group,form">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Personal Details</label></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="firstcol"><label class="control-label" >Branch:</label></td>
                        <td><label class="control-label">{{ getBranchDesc(student.branchCode) }}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" >Name of the Student</label></td>
                        <td><label class="control-label">{{student.name}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label">Date Of Birth</label></td>
                        <td><label class="control-label">{{student.dateOfBirth | date}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="fatherOrMotherName">Father/Mother Name</label></td>
                        <td><label class="control-label">{{student.fatherOrMotherName}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="age">Age</label></td>
                        <td><label class="control-label">{{student.age}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="gender">Gender</label></td>
                        <td><label class="control-label">{{student.gender}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="nationality">Nationality</label></td>
                        <td><label class="control-label">{{student.nationality}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="religion">Religion</label></td>
                        <td><label class="control-label">{{student.religion}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="caste">Caste</label></td>
                        <td><label class="control-label">{{student.caste}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="maritalStatus">Marital Status</label></td>
                        <td><label class="control-label">{{student.maritalStatus}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="mailId">Email Address</label></td>
                        <td><label class="control-label">{{student.mailId}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="phoneNumber">Mobile Number</label></td>
                        <td><label class="control-label">{{student.phoneNumber}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="alternatePhoneNumber">Alternate Mobile Number</label></td>
                        <td><label class="control-label">{{student.alternatePhoneNumber}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="englishFluency">English Fluency</label></td>
                        <td><label class="control-label">{{student.englishFluency}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label" for="joiningDate">Joining Date</label></td>
                        <td><label class="control-label">{{student.createdDate | date}}</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="firstcol"><label class="control-label">Address 1</label></td>
                    <td><label class="control-label">{{student.address.address1}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label" >Address 2</label></td>
                    <td><label class="control-label">{{student.address.address2}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label" >Address 3</label></td>
                    <td><label class="control-label">{{student.address.address3}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Taluk</label></td>
                    <td><label class="control-label">{{student.address.taluk}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">District</label></td>
                    <td><label class="control-label">{{student.address.district}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Postal Code</label></td>
                    <td><label class="control-label">{{student.address.postalCode}}</label></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Qualification Details</label></td>
                </tr>
                </thead>
                <tbody ng-repeat="educationDetail in student.educationDetails track by $index">
                <tr>
                    <td class="firstcol">
                        <label class="control-label" for="examPassed">Examination Passed</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.examPassed}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol">
                        <label class="control-label" for="instituteName">Institute Name</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.instituteName}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol">
                        <label class="control-label" for="groupName">Group Name</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.groupName}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol">
                        <label class="control-label" for="passingYear">Year Of Passing</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.passingYear}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol">
                        <label class="control-label" for="percentageObtained">Percentage Obtained</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.percentageObtained}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol">
                        <label class="control-label" for="remark">Remarks</label>
                    </td>
                    <td><label class="control-label">{{educationDetail.remark}}</label></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;" ng-show="student.sslcMarkDetails != null">
            <h3 align="center">Student SSLC Details</h3>
            <table class="table table-striped table-condensed">
                <br>
                <br>
                <tbody>
                <tr>
                    <td  class="firstcol"><label class="control-label"> Registered no</label></td>
                    <td><label class="control-label">{{student.sslcMarkDetails.additionalDetails.regNumber}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Year of Passing</label></td>
                    <td><label class="control-label">{{student.sslcMarkDetails.additionalDetails.yearOfPassing}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">School Name</label></td>
                    <td><label class="control-label">{{student.sslcMarkDetails.additionalDetails.schoolName}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Place of school</label></td>
                    <td><label class="control-label">{{student.sslcMarkDetails.additionalDetails.placeOfSchool}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Board of Examination</label></td>
                    <td><label class="control-label">{{student.sslcMarkDetails.additionalDetails.boardOfExamination}}</label></td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>S.No</th>
                    <th>Subject</th>
                    <th>Total marks</th>
                    <th>Secured marks</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subject in student.sslcMarkDetails.subjects">
                    <td>{{$index + 1}}</td>
                    <td><label>{{subject.name}}</label></td>
                    <td><label>{{subject.totalMark}}</label> </td>
                    <td><label>{{subject.securedMark}}</label></td>

                </tr>
                <tr>
                    <td></td>
                    <td><label class="control-label">Total</label></td>
                    <td></td>
                    <td><label class="control-label">{{ sslcTotalMark(student.sslcMarkDetails.subjects)}}</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label class="control-label">Presentage/Class</label></td>
                    <td></td>
                    <td><label class="control-label">{{student.sslcMarkDetails.percentage}}</label></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;" ng-show="student.hscMarkDetails != null">
            <h3 align="center">Student HSC Details</h3>
            <table class="table table-striped table-condensed">
                <br>
                <br>
                <tbody>
                    <tr>
                        <td class="firstcol"><label class="control-label">Registered no</label></td>
                        <td><label>{{student.hscMarkDetails.additionalDetails.regNumber}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label">Year of Passing</label></td>
                        <td><label class="control-label">{{student.hscMarkDetails.additionalDetails.yearOfPassing}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label">School Name</label></td>
                        <td><label class="control-label">{{student.hscMarkDetails.additionalDetails.schoolName}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label">Place of school</label></td>
                        <td><label class="control-label">{{student.hscMarkDetails.additionalDetails.placeOfSchool}}</label></td>
                    </tr>
                    <tr>
                        <td class="firstcol"><label class="control-label">Board of Examination</label></td>
                        <td><label class="control-label">{{student.hscMarkDetails.additionalDetails.boardOfExamination}}</label></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Subject</th>
                        <th>Total marks</th>
                        <th>Secures marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subject in student.hscMarkDetails.subjects">
                        <td>{{$index + 1}}</td>
                        <td><label>{{subject.name}}</label></td>
                        <td><label>{{subject.totalMark}}</label> </td>
                        <td><label>{{subject.securedMark}}</label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label class="control-label">Total</label></td>
                        <td></td>
                        <td><label class="control-label">{{hscTotalMark(student.hscMarkDetails.subjects)}}</label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label class="control-label">Presentage/Class</label></td>
                        <td></td>
                        <td><label class="control-label">{{student.hscMarkDetails.percentage}}</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Family Details</label></td>
                </tr>
                </thead>
                <tbody ng-repeat="guardian in student.guardians track by $index">
                <tr>
                    <td class="firstcol"><label class="control-label" for="relationShip">RelationShip with Student</label></td>
                    <td><label class="control-label">{{guardian.relationShip}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label" for="name">{{guardian.relationShip}}'s Name</label></td>
                    <td><label class="control-label">{{guardian.name}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label" for="phoneNumber">Phone Number</label></td>
                    <td><label class="control-label">{{guardian.phoneNumber}}</label></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Course,Fees And Referral Details</label></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="firstcol"><label class="control-label">Course Name</label></td>
                <td><label class="control-label">{{getCourseDesc(student.courseCode)}}</label></td>
            </tr>
            <tr>
                <td class="firstcol"><label class="control-label">Referred By</label></td>
                <td><label class="control-label">{{ getMarketingEmployeeName(student.marketingEmployeeCode) }}</label></td>
            </tr>
            <tr>
                <td class="firstcol"><label class="control-label">Scheme Name</label></td>
                <td><label class="control-label">{{getSchemeDesc(student.schemeCode)}}</label></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td  class="firstcol"><label class="control-label">Fees Particulars</label></td>
                <td style="min-width: 20px;"><label class="control-label">Amount</label></td>
            </tr>
            <tr ng-repeat="feesInfo in student.feesInfos | orderBy: 'feesParticularCode'">
                <td><label class="control-label">{{$index+1}}. {{getFeesParticularDesc(feesInfo.feesParticularCode)}}</label></td>
                <td>
                    <label class="control-label">{{feesInfo.amount | currency:'&#8377;'}}</label></label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div style="border-radius:20px;border: 2px solid #3dad9c;">
        <table class="table table-striped table-condensed">
            <tbody>
                <tr>
                    <td align="left"><a ui-sref="home.student-list" class="btn btn-small" >Student List</a><br></td>
                    <td align="right"><a ng-click="goToPayment(student.code)" class="btn btn-small btn-primary">Manage Payments</a></td>
                    <td align="right"><a ng-click="goToFms(student.code)" class="btn btn-small btn-primary">Manage Documents</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>