<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class=""></i> Marketing Commission</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div include-if-allowed operation="marketingCommissionDistribution" class="well">
            <a ui-sref="home.marketingcommission-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Marketing Commission</a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-5 pull-right">
                    <label for="filter" class="col-lg-2 control-label filter">Search:</label>
                    <div class="col-lg-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid" type="text" placeholder="Filter" ng-model="dis_filter" id="filter">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="table-responsive" loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" show-filter="true" class="table ng-scope ng-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Reference Person Code</th>
                                <th>Reference Person</th>
                                <th>Student Code</th>
                                <th>Student Name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dis in entities | filter: dis_filter" ng-if="" class="success">
                                <td>{{$index + 1 }}</td>
                                <td sortable="code">{{ dis.referencePersonCode }}</td>
                                <td sortable="name">{{ dis.referencePersonName }}</td>
                                <td sortable="code">{{ dis.applicationNumber }}</td>
                                <td sortable="name">{{ dis.studentName }}</td>
                                <td sortable="amount">{{ dis.amount }}</td>
                            </tr>
                        <tr>
                            <td ng-show="$data.length==0" class="info no_data" colspan="9">
                                No Record Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>