<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-credit-card fa-fw"></i> Id Cards</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Search</h4>
            </div>
            <div class="col-lg-3">
                <label>Unique Code : </label>
                <input ng-model="identityCode" type="text" class="form-control"/>
            </div>
            <div class="col-lg-3">
                <label>Status : </label>
                <select ng-model="status" id="status" class="form-control">
                    <option value="">ALL</option>
                    <option ng-repeat="status in commonAttributes.idCardStatuses" value="{{status}}">{{status}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>Name : </label>
                <input ng-model="name" type="text" class="form-control"/>
            </div>
            <div class="col-lg-3">
                <label>Requested Year : </label>
                <input ng-model="year" type="text" class="form-control"/>
            </div>
            <br>
            <div align="right" class="col-lg-12 page-header">
                <a ng-click="search()" class="btn btn-group-sm btn-primary"><i class="fa fa-search fa-fw"></i>Search</a>
            </div>
        </div>
        <div class="row">
            <div class="clearfix"></div>
            <div class="table-responsive" loading-container="tableParams.settings().$loading">
                <table ng-table="tableParams" show-filter="true" class="table ng-scope ng-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Requested Date</th>
                        <th>Status</th>
                        <th>Validity</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="idCard in $data | filter: feesComponents_filter" class="success">
                        <td>{{$index + 1 }}</td>
                        <td sortable="uploaderId">{{ idCard.identityCode }}</td>
                        <td sortable="uploaderCategory">{{ idCard.name }}</td>
                        <td sortable="name">{{ idCard.createdDate | date }}</td>
                        <td sortable="name">{{ idCard.status }}</td>
                        <td sortable="name">{{ idCard.validUpto | date }}</td>
                        <td><a ng-click="view(idCard.id)" class="btn btn-group-sm btn-primary"><i class="fa fa-eye fa-fw"></i>View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
