<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Create a Scheme
    </div>

    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="code">Code:</label></td>
                    <td><input type="text" id="code" ng-model="scheme.code" placeholder="Code"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="name">Name:</label></td>
                    <td><input type="text" id="name" ng-model="scheme.name" placeholder="Name"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="feesAmount">Total Fees Amount:</label></td>
                    <td><input type="text" id="feesAmount" ng-model="scheme.feesAmount" placeholder="amount" value="0"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="description">Description:</label></td>
                    <td><textarea id="description" ng-model="scheme.description" placeholder="Description"/></td>
                </tr>
             </table>
            <br>
            <br>

            <div style="border-radius:20px;border: 2px solid #3dad9c;">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Fees Category</td>
                    </tr>
                    <tr>
                        <th style="min-width: 20px;">Particulars</th>
                        <th style="min-width: 20px;">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="schemeFeesInfo in schemeFeesInfos track by $index">
                        <td>{{$index+1}}. {{feesParticulars[$index].name}}</td>
                        <td>
                            <input type="hidden" id="feesParticularCode" ng-model="schemeFeesInfo.feesParticularCode" value="{{schemeFeesInfo.feesParticularCode}}"/>
                            <input type="number" id="weightage" ng-model="schemeFeesInfo.weightage" placeholder="0" min="0" max="100"/>
                            &nbsp;&nbsp;<label class="control-label" for="weightage">{{schemeFeesInfo.weightage/100 * scheme.feesAmount | currency:'&#8377;'}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="min-width: 20px;">Total</td>
                        <td style="min-width: 20px;">{{ schemeFeesInfos | mysum}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>

            <div class="well">
                <div class="controls">
                    <a ng-click="createNewScheme()" class="btn btn-small btn-primary">create new scheme</a>
                </div>
            </div>
        </form>
    </div>
</div>
