<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-pencil fa-fw"></i> Schemes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Scheme detail
    </div>

    <div class="panel-body">
        <form name="schemeForm" novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="code">Code:</label></td>
                    <td><input type="text" name="code" id="code" ng-model="scheme.code" placeholder="Code" maxlength="10" style="width:94px;" required/>
                        <div class="error" ng-messages="schemeForm.code.$error" ng-if="schemeForm.code.$touched">
                            <span ng-message="required">Code is required.</span>
                        </div>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="name">Name:</label></td>
                    <td><input type="text" name="name" id="name" ng-model="scheme.name" placeholder="Name" maxlength="20" style="width:188px;" required/>
                        <div class="error" ng-messages="schemeForm.name.$error" ng-if="schemeForm.name.$touched">
                            <span ng-message="required">Name is required.</span>
                        </div>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="feesAmount">Total Fees Amount:</label></td>
                    <td><input type="number" name="feesAmount" id="feesAmount" ng-model="scheme.feesAmount" placeholder="amount" value="0"   min ="0" style="width: 100px;" required/>
                        <div class="error" ng-messages="schemeForm.feesAmount.$error" ng-if="schemeForm.feesAmount.$touched">
                            <span ng-message="required">Total Fees Amount is required.</span>
                        </div>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="description">Description:</label></td>
                    <td><textarea name="description" id="description" ng-model="scheme.description" placeholder="Description" style="width: 188px;" required/>
                        <div class="error" ng-messages="schemeForm.description.$error" ng-if="schemeForm.description.$touched">
                            <span ng-message="required">Description is required.</span>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <br>

            <div style="border-radius:20px;border: 2px solid #3dad9c;">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Fees Category</td>
                    </tr>
                    <tr>
                        <th style="min-width: 20px;">Particulars</th>
                        <th style="min-width: 20px;">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="schemeFeesInfo in scheme.feesInfos | orderBy:'feesParticularCode'">
                        <td>{{getFeesParticularDesc(schemeFeesInfo.feesParticularCode)}}</td>
                        <td>
                            <input type="hidden" id="feesParticularCode" ng-model="schemeFeesInfo.feesParticularCode" value="{{schemeFeesInfo.feesParticularCode}}"/>
                            <input type="number" id="amount" ng-model="schemeFeesInfo.amount"  min="0" style="width: 100px"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="min-width: 20px;">Total</td>
                        <td style="min-width: 20px;">{{ scheme.feesInfos | mySum}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

           <br><br>
            <div class="well">
                <div class="controls">
                    <a ng-click="cancel()" class="btn btn-small">cancel</a>
                    <a ng-click="updateScheme()" ng-class="{linkdisabled: schemeForm.$invalid}" class="btn btn-small btn-primary">update scheme</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br>