<br>
<br>
<div class="panel panel-default" ng-init="init('securedoperation',['/login/securedoperation'])">
    <div class="panel-heading">
        Role detail
    </div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal" ng-init="loadEntity()">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="operation">Secured Operation :</label></td>
                    <td><input type="text" id="operation" ng-model="entity.operation" placeholder="Secured Operation" style="width: 376px"/></td>
                </tr>
                <tr class="even gradeA">
                    <td> <label class="control-label" >Type :</label></td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="OPERATION"  checked ng-model="entity.type">OPERATION
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="URL" ng-model="entity.type">URL
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td> <label class="control-label" for="operationDesc">Desc:</label></td>
                    <td><textarea type="text" id="operationDesc" ng-model="entity.operationDesc" placeholder="Desc" style="width: 376px"/></td>
                </tr>
            </table>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="goToList()" class="btn btn-small">cancel</a>
                    <a ng-click="update()" class="btn btn-small btn-primary">update branch</a>
                </div>
            </div>
        </form>
    </div>
</div>
