<div class="container" ng-init="init('securedoperation',['/login/securedoperation'])">
    <h1>Role detail</h1>

    <form novalidate="novalidate" class="form-horizontal" ng-init="loadEntity()">
        <div class="control-group">
            <label class="control-label" for="operation">Secured Operation :</label>

            <div class="controls">
                <input type="text" id="operation" ng-model="entity.operation" placeholder="Secured Operation"/>
            </div>
        </div>
        <label>Type</label>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="type" value="OPERATION"  checked ng-model="entity.type">OPERATION
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" value="URL" ng-model="entity.type">URL
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="operationDesc">Desc:</label>
            <div class="controls">
                <input type="text" id="operationDesc" ng-model="entity.operationDesc" placeholder="Desc"/>
            </div>
        </div>
        <br>
        <br>
        <div class="control-group">
            <div class="controls">
                <a ng-click="goToList()" class="btn btn-small">cancel</a>
                <a ng-click="update()" class="btn btn-small btn-primary">update branch</a>
            </div>
        </div>
    </form>
</div>
