<div class="span6" ng-init="init('securedoperation', ['/login/securedoperation'])">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user-secret fa-fw"></i> Secured Operations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="well">
                <a ng-click="goToCreate()" class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>New Secured Operation</a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-5 pull-right">
                        <label for="filter" class="col-lg-2 control-label filter">Search:</label>
                        <div class="col-lg-10">
                            <input class="form-control ng-pristine ng-untouched ng-valid" type="text" placeholder="Filter" ng-model="so_filter" id="filter">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-responsive" loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" show-filter="true" class="table ng-scope ng-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Operation</th>
                                <th>Type</th>
                                <th>Desc</th>
                                <th style="max-width: 30px">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="so in $data | filter: so_filter" class="success">
                                <td>{{$index + 1 }}</td>
                                <td sortable="code">{{ so.operation }}</td>
                                <td sortable="name">{{ so.type }}</td>
                                <td sortable="desc">{{ so.operationDesc }}</td>
                                <td><a ng-click="goToEdit(so.id)" class="btn btn-small btn-primary"><i class="fa fa-edit fa-fw"></i>Edit</a>
                                    &nbsp;
                                    <a confirm="Do you want to delete {{so.operation}} ?" confirm-title=" Secured Operation Delete Confirmation" ng-click="deleteSecure(so.id)" class="btn btn-small btn-danger"><i class="fa fa-recycle fa-fw"></i> Delete </a>
                            </tr>
                            <tr>
                                <td ng-show="$data.length==0" class="info no_data" colspan="9">
                                    No Record Found
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <span confirmation-popup > </span>
        </div>
    </div>
    <br>
</div>
<br>