<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-graduation-cap fa-fw"></i> Student Hotel Tracker</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<br>


</div>
<br>

<br>
<div class="control-group,form">
    <br>
    <div style="border-radius:20px;border: 2px solid #3dad9c;">
        <div class="control-group,form">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Student Hotel Mapping Details</label></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="firstcol"><label class="control-label" >Student Name:</label></td>
                    <td><label class="control-label">{{student.name}}
                    </label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label" >Student Code:</label></td>
                    <td><label class="control-label">{{ student.code}}</label></td>
                </tr>
              <tr>
                    <td class="firstcol"><label class="control-label" >Student Phone:</label></td>
                    <td><label class="control-label">{{ student.phoneNumber}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label" >Branch Name:</label></td>
                    <td><label class="control-label">{{ branch}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Hotel Name</label></td>
                    <td><label class="control-label">{{hotel.hotelName}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label">Hotel Phone Number</label></td>
                    <td><label class="control-label">{{hotel.phoneNumber}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> Stipend</label></td>
                    <td><label class="control-label">{{hoteltracker.stipend}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> Duration  From</label></td>
                    <td><label class="control-label">{{hoteltracker.durationFrom|date}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> Duration To</label></td>
                    <td><label class="control-label">{{hoteltracker.durationTo|date}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> Remaining  Days</label></td>
                    <td> <label class="control-label">{{ calculateDays(hoteltracker.durationFrom,hoteltracker.durationTo)}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> Status</label></td>
                    <td><label class="control-label">{{hoteltracker.status}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> HR Name</label></td>
                    <td><label class="control-label">{{hr.name}}</label></td>
                </tr>
                <tr>
                    <td class="firstcol"><label class="control-label"> HR Phone Number</label></td>
                    <td><label class="control-label">{{hr.phoneNumber}}</label></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div style="border-radius:20px;border: 2px solid #3dad9c;">
        <table class="table table-striped table-condensed">
            <tbody>
            <br>
            <tr><td>
                <a ui-sref="home.hoteltracker-list" class="btn btn-small btn-primary"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Student Hotel Tracker </a> &nbsp;
                <span include-if-allowed operation="hoteltrackerEdit" ><a  ng-click="updateTracker(hoteltracker.id)" ng-if="hoteltracker.status != 'COMPLETED' && hoteltracker.status != 'SUSPENDED'" class="btn btn-small btn-primary"><i class=" fa fa-edit fa-fw"></i> Edit Mapping</a>
                 </span>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>