<div class="container">
    <h1>Marketing Employee detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="code">Code:</label>

            <div class="controls">
                <input type="text" id="code" ng-model="marketingEmployee.code" placeholder="Code"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">Name:</label>
            <div class="controls">
                <input type="text" id="name" ng-model="marketingEmployee.name" placeholder="Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="designation">Designation:</label>
            <div class="controls">
                <input type="text" id="designation" ng-model="marketingEmployee.designation" list="designationList" placeholder="Designation"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="phoneNumber">Phone Number:</label>
            <div class="controls">
                <input type="text" id="phoneNumber" ng-model="marketingEmployee.phoneNumber" placeholder="phone number"/>
            </div>
        </div>
        <br>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label class="control-label" for="doorNumber">Adddress 1</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.doorNumber" id="doorNumber" placeholder="address 1"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="streetName">Address 2</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.streetName" id="streetName" placeholder="address 2"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="city">City</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.city" id="city" placeholder="city"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="state">State</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.state" id="state" placeholder="state"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="country">Country</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.country" id="country" placeholder="country"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="postalCode">Postal Code</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.postalCode" id="postalCode" placeholder="postal code"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateMarketingEmployee()" class="btn btn-small btn-primary">update Marketing Employee</a>
            </div>
        </div>
    </form>
</div>
<datalist id="designationList">
    <option  data-ng-repeat="designation in commonAttributes.designation" value="{{designation}}">
</datalist>
