<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Create Marketing Employee
    </div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal">
        <table width="75%" class="table table-striped table-bordered table-hover">
            <tr class="even gradeA">
                <td><label class="control-label" for="code">Code:</label></td>
                <td><input type="text" id="code" ng-model="marketingEmployee.code" placeholder="Code"/></td>
            </tr>

            <tr class="even gradeA">
                <td><label class="control-label" for="name">Name:</label></td>
                <td><input type="text" id="name" ng-model="marketingEmployee.name" placeholder="Name"/></td>
            </tr>
            <tr class="even gradeA">
                <td><label class="control-label" for="designation">Designation:</label></td>
                <td><input type="text" id="designation" ng-model="marketingEmployee.designation" list="designationList" placeholder="Designation"/></td>
            </tr>
            <tr class="even gradeA">
                <td><label class="control-label" for="phoneNumber">Phone Number:</label></td>
                <td><input type="text" id="phoneNumber" ng-model="marketingEmployee.phoneNumber" placeholder="phone number"/></td>
            </tr>
        </table>
        <br>
        <br>
        <div style="border-radius:20px;border: 2px solid #3dad9c;">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label class="control-label" for="address1">Address 1</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.address1" id="address1" placeholder="address 1"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="address2">Address 2</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.address2" id="address2" placeholder="address 2"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="address3">Address 3</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.address3" id="address3" placeholder="address 3"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="taluk">Taluk</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.taluk" id="taluk"
                               placeholder="taluk"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="district">District</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.district" id="district"
                               placeholder="district"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="postalCode">Postal Code</label></td>
                    <td><input type="text" ng-model="marketingEmployee.address.postalCode" id="postalCode" placeholder="postal code"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="well">
            <div class="controls">
                <a ng-click="createNewMarketingEmployee()" class="btn btn-small btn-primary">create new Marketing Employee</a>
            </div>
        </div>
    </form>
    </div>
</div>

<datalist id="designationList">
    <option  data-ng-repeat="designation in commonAttributes.designation" value="{{designation}}">
</datalist>

