<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-male fa-fw"></i> Marketing Employees</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel-body">
    <div class="panel-heading">
        <h3>Marketing Employee Detail</h3>
    </div>

    <form name="marketingForm" novalidate="novalidate" class="form-horizontal">
        <table width="75%" class="table table-striped table-bordered table-hover">
            <tr class="even gradeA">
                <td class="firstcol"><label class="control-label" for="code">Code:</label></td>
                <td><input type="text" name="code" id="code" ng-model="marketingEmployee.code" placeholder="Code"  maxlength="10" style="width:94px" required/>
                        <span class="error" ng-messages="marketingForm.code.$error" ng-if="marketingForm.code.$touched">
                            <span ng-message="required">Code is required.</span>
                        </span>
                </td>
            </tr>

            <tr class="even gradeA">
                <td class="firstcol"><label class="control-label" for="name">Linked User:</label></td>
                <td><select ng-model="marketingEmployee.linkedUser" name="linkedUser" id="linkedUser" required>
                        <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
                    </select>
                    <span class="error" ng-messages="marketingForm.linkedUser.$error" ng-if="marketingForm.linkedUser.$touched">
                        <span ng-message="required">Linked User is required.</span>
                    </span>
                </td>
            </tr>
            <tr class="even gradeA">
                <td class="firstcol"><label class="control-label" for="name">Name:</label></td>
                <td><input type="text" name="name" id="name" ng-model="marketingEmployee.name" placeholder="Name" maxlength="30" style="width:275px" required/>
                    <span class="error" ng-messages="marketingForm.name.$error" ng-if="marketingForm.name.$touched">
                        <span ng-message="required">Name is required.</span>
                    </span>
                </td>
            </tr>
            <tr class="even gradeA">
                <td class="firstcol"><label class="control-label" for="designation">Designation:</label></td>
                <td>
                    <select ng-model="marketingEmployee.designation" name="designation" id="designation" required>
                        <option ng-repeat="designation in commonAttributes.designation" value="{{designation}}">{{designation}}</option>
                    </select>
                    <span class="error" ng-messages="marketingForm.designation.$error" ng-if="marketingForm.designation.$touched">
                        <span ng-message="required">Designation is required.</span>
                    </span>
                </td>
            </tr>
            <tr class="even gradeA">
                <td class="firstcol"><label class="control-label" for="phoneNumber">Phone Number:</label></td>
                <td><input type="tel" name="phoneNumber" id="phoneNumber" ng-model="marketingEmployee.phoneNumber"  ng-pattern="/^[0-9].{9}$/" min="10" placeholder="Phone number" maxlength="10" style="width:125px" required/>
                    <span class="error" ng-messages="marketingForm.phoneNumber.$error" ng-if="marketingForm.phoneNumber.$touched">
                        <span ng-message="required">Phone Number is required.</span>
                        <span ng-message="pattern">Invalid Phone number.</span>
                    </span>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <span address-template addfrm="marketingForm" data="marketingEmployee"> </span>
        <br>
        <br>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateMarketingEmployee()" ng-class="{linkdisabled: marketingForm.$invalid}" class="btn btn-small btn-primary">Submit</a>
            </div>
        </div>
    </form>
</div>
<br>