<div class="row">
    <div class="col-lg-12">
        <span style="font-size: 22px; float: left "  class="page-header">Dashboard</span>
        <span style="font-size: 16px; float: right "  class="page-header">User name: {{loggedUser}}</span>
    </div>

    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

           <!-- <stats number="{{scholarshipEnrollments.length}}" comments="Total Scholarships Enrolled!" colour="yellow" type="shield" goto="home.scholarshipenrollment-list"></stats>-->
            <stats number="{{scholarEnrolled}}" ng-if="loggedUserRole == 'SUPER_ADMIN'" comments="Scholarships Enrolled Today!" colour="yellow" type="shield" goto="home.scholarship-dashboard"></stats>


           <!-- <stats number="{{students.length}}" comments="Total Students Enrolled!" colour="green" type="graduation-cap" goto="home.student-list"></stats>-->
            <stats number="{{enrolled}}" ng-if="loggedUserRole == 'SUPER_ADMIN'" comments="Students Enrolled Today" colour="green" type="graduation-cap" goto="home.student-dashboard"></stats>
            <stats number="{{(students | filter: { status: 'CREATED' }).length}}"
                   comments="Student Enrolment - Halfway!" colour="red" type="empire" goto="home.student-list"></stats>
            <stats number="{{(students | filter: { branchCode: loggedInBranchCode }).length}}"
                   comments="{{getBranchDesc(loggedInBranchCode)}}" colour="yellow" type="bullhorn" goto="home.student-list"></stats>
        </div>
        <div class="row" ng-if="loggedUserRole == 'SUPER_ADMIN'">
            <stats  number="{{totalPayment}}"
                   comments="Total Payment for Today" colour="green" type="rupee" goto="home.income-dashboard"></stats>
            <stats  number="{{totalExp}}"
                   comments="Total Expense for Today" colour="red" type="rupee" goto="home.expense-dashboard"></stats>
        </div>

        <div class="row">
            <stats ng-repeat="batch in batches" number="{{(students | filter: { batchName: batch.name }).length}}"
                   comments="{{batch.name}}" colour="primary" type="anchor"></stats>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default panel-calendar">
                <div class="panel-body">
                    <div class="col-xs-6">
                        <span class="dates"></span>
                        <span class="month_clock"></span>
                    </div>
                    <div class="col-xs-6">
                        <div class="hero-circle">
                            <div class="hero-face">
                                <div id="hour" class="hero-hour"></div>
                                <div id="minute" class="hero-minute"></div>
                                <div id="second" class="hero-second"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>