<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-code-o fa-5x icon_shake"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashlets_data.project_count}}</div>
                            <div>Current Projects</div>
                        </div>
                    </div>
                </div>
                <a href="#projects">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-history fa-5x icon_shake"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashlets_data.leave_history}}</div>
                            <div>Leave History</div>
                        </div>
                    </div>
                </div>
                <a href="#leaves">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa  fa-file-text-o fa-5x icon_shake"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashlets_data.leave_apply}}</div>
                            <div>Leave Applied</div>
                        </div>
                    </div>
                </div>
                <a href="#leaves">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" ng-show="show_link">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check-square-o fa-5x icon_shake"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashlets_data.leave_approve}}</div>
                            <div>Leaves For Approval</div>
                        </div>
                    </div>
                </div>
                <a href="#team_leaves">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-gift fa-fw"></i> Upcoming Birthdays
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table ng-table="tableParams" show-filter="true" class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Client Name</th>
                                <th>Location</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dob in $data" ng-class="{{dob.is_today}} ? 'info' : ''" ng-attr-title="{{dob.is_today == 1 && 'Today' || ''}}">
                                <td>
                                    {{$index + 1 }}
                                </td>
                                <td sortable="dob" style="white-space: nowrap">
                                    {{dob.edob}}
                                </td>
                                <td sortable="name">
                                    {{dob.name}}
                                </td>
                                <td sortable="client_name">
                                    {{dob.client_name}}
                                </td>
                                <td sortable="client_name">
                                    {{dob.location}}
                                </td>
                                <td sortable="msys_email">
                                    <button class="btn btn-primary col-sm-offset-4 col-lg-4" ng-show="{{dob.is_today}} ? true : false" data-toggle="modal" data-target="#circulars_model" ng-click="content(dob)">Wish</button>
                                    <div ng-hide = "{{dob.is_today}} ? true : false">{{dob.msys_email}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal fade" id="circulars_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form role="form" name="wish_form" id="wish_form" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="reset_form()">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Send Wish</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label>To</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" id="to"  ng-model="mail_content.msys_email" name="to" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12" ng-class="{ 'has-error' : wish_form.description.$invalid && (wish_form.description.$dirty || submitted)}">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3"  ng-model="mail_content.description" id="description" name="description" ng-required="true"></textarea>
                                                    <p ng-show="wish_form.description.$error.required &&(wish_form.description.$dirty || submitted)">please enter your wishes.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" ng-click="reset_form()" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="send_mail"  ng-click="send_mail()">Send Mail</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-smile-o fa-fw"></i> Upcoming Holidays
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table ng-table="tableParams2" show-filter="true" class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Day</th>
                                <th>Holiday</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="leave in $data " ng-class="{{leave.is_optional}} ? 'danger' : ''" ng-attr-title="{{leave.is_optional == 1 && 'Optional Holiday' || ''}}">
                                <td>
                                    {{$index + 1 }}
                                </td>
                                <td sortable="date" >
                                    {{leave.leave_date}}
                                </td>
                                <td sortable="day">
                                    {{leave.day}}
                                </td>
                                <td sortable="title">
                                    {{leave.title}}
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
        </div>

        <!--Todolist end-->
        <div class="col-lg-4">
            <!--start_clock-->
            <div class="panel panel-default panel-calendar">
                <div class="panel-body">
                    <div class="col-xs-6">
                        <span class="dates"></span>
                        <span class="month_clock"></span>
                    </div>
                    <div class="col-xs-6">
                        <div class="hero-circle">
                            <div class="hero-face">
                                <div id="hour" class="hero-hour">
                                </div>
                                <div id="minute" class="hero-minute"></div>
                                <div id="second" class="hero-second"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12">
                            <div class="row" >
                                <div class="event_slide border-top border-bottom border-light space15">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel" ng-hide="carousel_hide">
                                        <div class="carousel-inner">
                                            <div class="item" ng-class="{active:!$index}" ng-repeat = "events in calendar">
                                                <div class="vertical_start"><i class="fa fa-clock-o"></i>
                                                    {{events.time}}
                                                </div>
                                                <div class="vertical_title">
                                                    {{events.title}}
                                                </div>
                                            </div>
                                        </div>
                                        <a class="owl-prev text-light" href="" data-slide="prev">
                                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                            </i>
                                        </a>
                                        <a class="owl-next text-light"
                                           href="" data-slide="next">
                                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="no-events" ng-show="carousel_hide">No Events</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end_clock> -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#forms_and_policies">
                        <span class="pull-left"><i class="fa fa-check-square-o fa-fw" style="padding-right:5px;"></i>Forms & Policies</span>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table ng-table="tableParams3" class="table">
                            <tbody>
                            <tr ng-repeat="doc in $data | limitTo:-1">
                                <td data-title="'#'">
                                    {{$index + 1 }}
                                </td>
                                <td data-title="'Description'">
                                    {{doc.description}}
                                </td>
                                <td data-title="'Document'" class="{{doc.file_type}}_icon icon_align" ng-click="open_file('{{doc.doc_file}}')">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end_company-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#circulars" class="list-group-item">
                            <i class="fa fa-bullhorn fa-fw"></i> New Circular ({{dashlets_data.circulars}})
                            <span class="pull-right text-muted small"><em ng-show="dashlets_data.circulars != 0">4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#openings" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Current Openings ({{dashlets_data.openings}})
                            <span class="pull-right text-muted small"><em ng-show="dashlets_data.circulars != 0">1 Day ago</em>
                            </span>
                        </a>
                        <a href="#events_news" class="list-group-item">
                            <i class="fa fa-bullhorn fa-fw"></i> Events & News({{dashlets_data.event_news}})
                            <span class="pull-right text-muted small"><em ng-show="dashlets_data.circulars != 0">10 Day ago</em>
                            </span>
                        </a>
                        <a href="#interview" class="list-group-item">
                            <i class="fa fa-hand-o-right fa-fw"></i> Interviews({{dashlets_data.interviews}})
                            <span class="pull-right text-muted small"><em ng-show="dashlets_data.circulars != 0">10 Day ago</em>
                            </span>
                        </a>
                </div>
            </div>

            <!-- todo start -->
            <div class="panel panel-default">
                <div class="panel-heading" id="panel_todo">
                    <span class="fs1" aria-hidden="true"></span>
                    <i class="fa fa-check-square-o"></i> Todo list
                </div>
                <div class="panel-body">
                    <div class="todo-container">

                        <ul class="todo-list todo_li" id="to_do_ul">
                            <li class="todo_li" ng-repeat="details in to_do_list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span ng-class-odd="'odd'" ng-class-even="'even'"></span>
                                        <input  type="checkbox" ng-model="s" ng-click="edit(details)" ng-init="details.is_complete != 0? s=true :s=false">
                                        <label class="todo-{{s}}"> {{details.title}}</label>
                                        <a  class="pull-right hand_sym todo_delete" ng-click="todo_delete(details) "><i class="fa fa-trash-o  fa-fw" title="Delete"></i></a>
                                        <span class="date pull-right text-muted small"><em>{{details.from_now}}</em></span>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="to_do_list.length==0" class="no_data todo_li">
                                <div class="row">
                                    <div class="col-sm-12">
                                        No Task Found
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <form role="form" class="no-margin">
                            <div class="control-group">
                                <div class="controls">
                                    <textarea class="input-block-level todo-text" placeholder="Add new task" ng-model="new_list.title" cols="31"></textarea>
                                </div>
                            </div>
                            <div class="control-group no-margin">
                                <div class="controls">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="todo_button" ng-click="save_todolist()">Create
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<style type="text/css">
    .ng-table-pager{
        display: none;
    }
</style>