<br>
<br>
<style>
    .ui-amount-container {
        display: inline-block;
        background-color: #f9f9f9;
        padding: 8px;
        min-width: 250px;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 4px;
        border: 1px solid #d3d3d3;
    }
    span.ui-amount {
        font-weight: bold;
        float:right;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        Payment Detail of {{student.name }}
    </div>

    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal">
            <div class="table-responsive">
                <table show-filter="true" class="table ng-scope ng-table">
                    <thead>
                    <tr>
                        <th>Fees Purticular</th>
                        <th>Actual</th>
                        <th>Paid</th>
                        <th>Remaining</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feesInfo in student.feesInfos" class="success">
                        <td>{{ adminService().getFeesParticularDesc(feesInfo.feesParticularCode) }}</td>
                        <td>{{ getFeesPurtDetailAmt(paymentDetail.actualPaymentDetail,feesInfo) | currency:'&#8377;'}}</td>
                        <td>{{ getFeesPurtDetailAmt(paymentDetail.paidDetail,feesInfo) | currency:'&#8377;'}}</td>
                        <td>{{ getFeesPurtDetailAmt(paymentDetail.remainingPaymentDetail,feesInfo) | currency:'&#8377;' }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ paymentDetail.actualPaymentDetail.amount | currency:'&#8377;' }}</td>
                        <td>{{ paymentDetail.paidDetail.amount | currency:'&#8377;' }}</td>
                        <td>{{ paymentDetail.remainingPaymentDetail.amount | currency:'&#8377;' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table show-filter="true" class="table ng-scope ng-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Amount</th>
                        <th>Approved By</th>
                        <th>Paid Date</th>
                        <th>Bank Name</th>
                        <th style="max-width: 30px">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="paymentDetail.paymentHistory.length == 0">
                        <td colspan="6" class="success">No Record Found</td>
                    </tr>
                    <tr ng-repeat-start="pt in paymentDetail.paymentHistory" class="success">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ pt.amount | currency:'&#8377;' }}</td>
                        <td>{{ pt.approvedBy }}</td>
                        <td>{{ pt.paidDate  | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{ pt.bankName }}</td>
                        <td>
                            <div ng-class="isShown($index)?'ui-arrow-down':'ui-arrow-up'" ng-click="toggleHistoryDetail($index)">&#x2039;</div>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="isShown($index)">
                        <td colspan="6" style="border:1px solid #d5d5d5">
                            <table width="75%" class="table table-striped table-bordered table-hover">
                                <tr class="even gradeA">
                                    <td><label class="control-label">DD No:</label></td>
                                    <td><label class="control-label">Bank:</label></td>
                                    <td><label class="control-label">Branch:</label></td>
                                    <td><label class="control-label">Admitted By:</label></td>
                                    <td><label class="control-label">Approved By:</label></td>
                                </tr>
                                <tr class="even gradeA">
                                    <td>{{pt.ddNumber }}</td>
                                    <td>{{pt.bankName }}</td>
                                    <td>{{pt.bankBranchName }}</td>
                                    <td>{{pt.admittedBy }}</td>
                                    <td>{{pt.approvedBy }}</td>
                                </tr>
                            </table>
                            <section>
                                <div class="ui-amount-container" ng-repeat="feesInfo in pt.feesInfos | filter: greaterThan('amount', 0)">
                                    <span class="ui-amount-info">{{adminService().getFeesParticularDesc(feesInfo.feesParticularCode)}} :</span>
                                    <span class="ui-amount">{{feesInfo.amount | currency:'&#8377;' }}</span>
                                </div>
                            </section>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-if="calcTotalAmount() > 0" ng-click="goToPaymentCreation()" class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>Make payment</a>
                    <a ng-click="viewStudent()" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Go Back</a>
                </div>
            </div>
        </form>
     </div>
</div>
