<script type="text/javascript" src="/public/app-content/jquery.main.js"></script>
<style>
    .container #first_step, #second_step, #third_step { display: none; }
    .container #first_step { display: block; }
    .container input.valid { border: 1px solid #1FFF00; }
    .container{ width: 100%;}


</style>
<script type="text/javascript">
    function updateAnnualIncome(val) {
        document.getElementById("annualIncome").value = (eval(val * 12));
    }
</script>

<br>
<br>
<!--<div class="panel panel-default">
    <div class="panel-heading">
        Scholarship Enrollment
    </div>
    <br>
    <br>-->
    <div>

        <form>
            <div class="control-group">
                <!-- #first_step -->
                <div id="first_step">
                    <div style="border-radius:20px;border: 2px solid #3dad9c;">
                        <div class="control-group,form">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Personal Details</label></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><label class="control-label" for="name">Name of The Student</label></td>
                                    <td><input type="text" id="name" ng-model="scholarshipenrollment.student.name" placeholder="Name"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="dateOfBirth">Date Of Birth</label></td>
                                    <td><input type="date" id="dateOfBirth" ng-model="scholarshipenrollment.student.dateOfBirth" placeholder="Name"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="age">Age</label></td>
                                    <td><input type="number" id="age" ng-model="scholarshipenrollment.student.age" min="0" max="100" value="20"></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="gender">Gender</label></td>
                                    <td>
                                        <input type="text" ng-model="scholarshipenrollment.student.gender" list="genders" id="gender" placeholder="gender"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="nationality">Nationality</label></td>
                                    <td><input type="text" id="nationality" ng-model="scholarshipenrollment.student.nationality" placeholder="nationality"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="religion">Religion</label></td>
                                    <td>
                                        <input type="text" ng-model="scholarshipenrollment.student.religion" list="religions" id="religion" placeholder="religion"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="caste">Cummunity</label></td>
                                    <td>
                                        <input type="text" ng-model="scholarshipenrollment.student.cummunity" list="castes" id="caste" placeholder="cummunity"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="caste">Caste</label></td>
                                    <td>
                                        <input type="text" ng-model="scholarshipenrollment.student.caste" placeholder="caste"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="maritalStatus">Marital Status</label></td>

                                    <td>
                                    <input type="text" ng-model="scholarshipenrollment.student.maritalStatus" list="maritalState" id="maritalStatus" placeholder="marital status"/>
                                </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Annual income</label></td>
                                    <td>
                                        <input type="radio" name="annualIncome" value="1" ng-model="annualIncome">&nbsp;Upto 50,000
                                        &nbsp; <input type="radio" name="annualIncome" value="0" ng-model="annualIncome">&nbsp;Upto 1,00,000
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="doorNumber">Adddress 1</label></td>
                                    <td><input type="text" ng-model="scholarshipenrollment.address.doorNumber" id="doorNumber" placeholder="address 1"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="streetName">Address 2</label></td>
                                    <td><input type="text" ng-model="scholarshipenrollment.address.streetName" id="streetName" placeholder="address 2"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="city">City</label></td>
                                    <td><input type="text" ng-model="scholarshipenrollment.address.city" id="city" placeholder="city"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="state">State</label></td>
                                    <td><input type="text" ng-model="scholarshipenrollment.address.state" id="state" placeholder="state"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="country">Country</label></td>
                                    <td><input type="text" ng-model="scholarshipenrollment.address.country" id="country" placeholder="country"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="postalCode">Postal Code</label></td>
                                    <td><input type="text" ng-model="scholarshipenrollment.address.postalCode" id="postalCode" placeholder="postal code"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="mailId">Email Address</label></td>
                                    <td>
                                        <input type="email" ng-model="scholarshipenrollment.student.mailId" id="mailId" placeholder="mail Id"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="phoneNumber">Mobile Number</label></td>
                                    <td>
                                        <input type="tel" ng-model="scholarshipenrollment.student.phoneNumber" id="phoneNumber" placeholder="mobile number"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="alternatePhoneNumber">Alternate Mobile Number</label></td>
                                    <td>
                                        <input type="tel" ng-model="scholarshipenrollment.student.alternatePhoneNumber" id="alternatePhoneNumber" placeholder="alternate mobile number"/>
                                    </td>
                                </tr>

                                </tbody>
                                <tr>
                                    <td colspan="2" align="right">
                                        <input class="submit" type="submit" name="submit_first" id="submit_first" value="Next" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br><br>
                </div>

                <!-- #second_step -->
                <div id="second_step">
                    <div class="control-group,form">
                        <div style="border-radius:20px;border: 2px solid #3dad9c;">
                            <table ng-table="tableParams" show-filter="true" class="table ng-scope ng-table">
                                <thead>
                                    <tr>
                                        <th>Examination</th>
                                        <th>Name of Institue Studied</th>
                                        <th>Group</th>
                                        <th>Year of Passing</th>
                                        <th>% of Marks</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SSLC</td>
                                        <td><input type="text" ng-model="sslc.instituteName" placeholder="Institue name"/></td>
                                        <td><input type="text" ng-model="sslc.groupName" placeholder="Group"/></td>
                                        <td><input type="text" ng-model="sslc.fromYear" placeholder="from"/>
                                            <input type="text" ng-model="sslc.toYear" placeholder="to"/>
                                        </td>
                                        <td><input type="text" ng-model="sslc.percentageObtained" placeholder="Percentage"/> </td>
                                        <td><input type="text" ng-model="sslc.remark" placeholder="Remarks"/></td>
                                    </tr>
                                    <tr>
                                        <td>HSC</td>
                                        <td><input type="text" ng-model="hsc.instituteName" placeholder="Institue name"/></td>
                                        <td><input type="text" ng-model="hsc.groupName" placeholder="Group"/></td>
                                        <td><input type="text" ng-model="hsc.fromYear" placeholder="from"/>
                                            <input type="text" ng-model="hsc.toYear" placeholder="to"/></td>
                                        <td><input type="text" ng-model="hsc.percentageObtained" placeholder="Percentage"/> </td>
                                        <td><input type="text" ng-model="hsc.remark" placeholder="Remarks"/></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><input class="submit" type="submit" name="submit_back_first" id="submit_back_first" value="Back" /></td>
                                        <td align="right"><input class="submit" type="submit" name="submit_second" id="submit_second" value="Next" /></td>
                                    </tr>

                                </tbody>
                             </table>
                        </div>
                        <br><br>
                    </div>
                </div>

                <!-- #third_step -->
                <div id="third_step">
                    <div class="control-group">
                        <div style="border-radius:20px;border: 2px solid #3dad9c;">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Personal Details</label></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="control-label" for="name">Name of The Student</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.name}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="dateOfBirth">Date Of Birth</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.dateOfBirth}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="age">Age</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.age}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="gender">Gender</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.gender}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="nationality">Nationality</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.nationality}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="religion">Religion</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.religion}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="caste">Cummunity</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.cummunity}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="caste">Caste</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.caste}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="maritalStatus">Marital Status</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.maritalStatus}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">Annual income</label></td>
                                        <td><label class="control-label">{{annualIncome}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="doorNumber">Adddress 1</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.address.doorNumber}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="streetName">Address 2</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.address.streetName}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="city">City</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.address.city}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="state">State</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.address.state}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="country">Country</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.address.country}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="postalCode">Postal Code</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.address.postalCode}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="mailId">Email Address</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.mailId}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="phoneNumber">Mobile Number</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.phoneNumber}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="alternatePhoneNumber">Alternate Mobile Number</label></td>
                                        <td><label class="control-label">{{scholarshipenrollment.student.alternatePhoneNumber}}</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div style="border-radius:20px;border: 2px solid #3dad9c;">
                            <table ng-table="tableParams" show-filter="true" class="table ng-scope ng-table">
                                <thead>
                                    <tr>
                                    <th>Examination</th>
                                    <th>Name of Institue Studied</th>
                                    <th>Group</th>
                                    <th>Year of Passing</th>
                                    <th>% of Marks</th>
                                    <th>Remarks</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SSLC</td>
                                        <td><label class="control-label">{{sslc.instituteName}}</label></td>
                                        <td><label class="control-label">{{sslc.groupName}}</label></td>
                                        <td><label class="control-label">{{sslc.fromYear}}</label>
                                            <label class="control-label">{{sslc.toYear}}</label>
                                        </td>
                                        <td><label class="control-label">{{sslc.percentageObtained}}</label></td>
                                        <td><label class="control-label">{{sslc.remark}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>HSC</td>
                                        <td><label class="control-label">{{hsc.instituteName}}</label></td>
                                        <td><label class="control-label">{{hsc.groupName}}</label></td>
                                        <td><label class="control-label">{{hsc.fromYear}}</label>
                                            <label class="control-label">{{hsc.toYear}}</label>
                                        </td>
                                        <td><label class="control-label">{{hsc.percentageObtained}}</label></td>
                                        <td><label class="control-label">{{hsc.remark}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <div class="control-group">
                            <div class="controls" align="left">
                                <td align="left"><input class="submit" type="submit" name="submit_back_second" id="submit_back_second" value="Back" /></td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a ng-click="createNewScholarshipEnrollment()" class="btn btn-small btn-primary">Submit</a>
                            </div>
                        </div>
                        <br>
                        <br>
                     </div>
                </div>
            </div>
        </form>
    </div>
<!--</div>-->
<datalist id="genders">
    <option  data-ng-repeat="gender in commonAttributes.gender" value="{{gender}}">
</datalist>

<datalist id="religions">
    <option  data-ng-repeat="religion in commonAttributes.religion" value="{{religion}}">
</datalist>

<datalist id="castes">
    <option  data-ng-repeat="caste in commonAttributes.caste" value="{{caste}}">
</datalist>

<datalist id="maritalState">
    <option  data-ng-repeat="status in commonAttributes.maritalStatus" value="{{status}}">
</datalist>

<datalist id="branchNames">
    <option  data-ng-repeat="bn in branchNames" value="{{bn}}">
</datalist>