<script type="text/javascript" src="/public/app-content/jquery.main.js"></script>
<style>
    .container #first_step, #second_step, #third_step { display: none; }
    .container #first_step { display: block; }
    .container input.valid { border: 1px solid #1FFF00; }
    .container{ width: 100%;}


</style>
<script type="text/javascript">
    function updateAnnualIncome(val) {
        document.getElementById("annualIncome").value = (eval(val * 12));
    }
</script>

<br>
<br>
<div>

    <form class="form-horizontal">
        <div class="control-group">
            <!-- #first_step -->
            <div id="first_step">
                <!-- Personal details -->
                <div style="border-radius:20px;border: 2px solid #3dad9c;">
                    <div class="control-group,form">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Personal Details</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label class="control-label" for="code">Applicant Number</label></td>
                                    <td><input type="text" id="code" ng-model="scholarshipEnrollment.code" placeholder="Applicant Number"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="name">Name of The Student</label></td>
                                    <td><input type="text" id="name" ng-model="scholarshipEnrollment.name" placeholder="Name"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="fatherOrMotherName">Father/Mother's Name</label></td>
                                    <td><input type="text" id="fatherOrMotherName" ng-model="scholarshipEnrollment.fatherOrMotherName"
                                               placeholder="FatherOrMotherName"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="dateOfBirth">Date Of Birth</label></td>
                                    <td><input type="date" id="dateOfBirth" ng-model="scholarshipEnrollment.dateOfBirth"/></td>
                                </tr>
                               <!-- <tr>
                                    <td><label class="control-label">Age</label></td>
                                    <td><label class="control-label">{{calculateAge(scholarshipEnrollment.dateOfBirth)}}</label></td>
                                </tr>-->
                                <tr>
                                    <td><label class="control-label" for="gender">Gender</label></td>
                                    <td>
                                        <label ng-repeat="gender in commonAttributes.gender">
                                            <input type="radio" ng-model="scholarshipEnrollment.gender" id="gender"  placeholder="Gender"
                                                   value="{{gender}}"/>{{gender}}&nbsp;
                                        </label>
                                    </td>

                                </tr>

                                <tr>
                                    <td><label class="control-label" for="nationality">Nationality</label></td>
                                    <td><input type="text" id="nationality" ng-model="scholarshipEnrollment.nationality" placeholder="Nationality"/></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="religion">Religion</label></td>
                                    <td>
                                        <select ng-model="scholarshipEnrollment.religion" id="religion" placeholder="Religion">
                                            <option ng-repeat="religion in commonAttributes.religion" value="{{religion}}">{{religion}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="caste">Cummunity</label></td>
                                    <td>
                                        <select ng-model="scholarshipEnrollment.caste" id="caste" placeholder="Cummunity">
                                            <option ng-repeat="caste in commonAttributes.caste" value="{{caste}}">{{caste}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="caste">Caste</label></td>
                                    <td>
                                        <input type="text" ng-model="scholarshipEnrollment.castee" placeholder="Caste"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="maritalStatus">Marital Status</label></td>
                                    <td>
                                        <label ng-repeat="status in commonAttributes.maritalStatus">
                                            <input type="radio" ng-model="scholarshipEnrollment.maritalStatus" id="maritalStatus"  placeholder="Gender"
                                                   value="{{status}}"/>{{status}}&nbsp;&nbsp;
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Annual income</label></td>
                                    <td>
                                        <input type="radio" name="annualIncome" value="Upto 50,000" ng-model="annualIncome">&nbsp;Upto 50,000
                                        &nbsp; <input type="radio" name="annualIncome" value="Upto 1,00,000" ng-model="annualIncome">&nbsp;Upto 1,00,000
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <!--Address deatils-->
                <div style="border-radius:20px;border: 2px solid #3dad9c;">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label class="control-label" for="doorNumber">Adddress 1</label></td>
                                <td><input type="text" ng-model="scholarshipEnrollment.address.doorNumber" id="doorNumber" placeholder="Address 1"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="streetName">Address 2</label></td>
                                <td><input type="text" ng-model="scholarshipEnrollment.address.streetName" id="streetName" placeholder="Address 2"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="city">City</label></td>
                                <td><input type="text" ng-model="scholarshipEnrollment.address.city" id="city" placeholder="City"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="state">State</label></td>
                                <td><input type="text" ng-model="scholarshipEnrollment.address.state" id="state" placeholder="State"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="country">Country</label></td>
                                <td><input type="text" ng-model="scholarshipEnrollment.address.country" id="country" placeholder="Country"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="postalCode">Postal Code</label></td>
                                <td><input type="text" ng-model="scholarshipEnrollment.address.postalCode" id="postalCode" placeholder="Postal code"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="mailId">Email Address</label></td>
                                <td>
                                    <input type="email" ng-model="scholarshipEnrollment.mailId" id="mailId" placeholder="Mail Id"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="studentPhoneNumber">Student Mobile Number</label></td>
                                <td>
                                    <input type="tel" ng-model="scholarshipEnrollment.studentPhoneNumber" id="studentPhoneNumber" placeholder="Student mobile number"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label" for="parentPhoneNumber">Parent Mobile Number</label></td>
                                <td>
                                    <input type="tel" ng-model="scholarshipEnrollment.parentPhoneNumber" id="parentPhoneNumber" placeholder="Parent mobile number"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <!--Education details-->
                <div style="border-radius:20px;border: 2px solid #3dad9c;">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Education Details</label></td>
                            </tr>
                            <tr>
                                <td><label for="examPassed">Examination Passed</label></td>
                                <td><label for="instituteName">Institute Name</label></td>
                                <td><label for="groupName">Group Name</label></td>
                                <td><label for="passingYear">Year Of Passing</label></td>
                                <td><label for="percentageObtained">Percentage Obtained</label></td>
                                <td><label for="remark">Remarks</label></td>
                            </tr>
                        </thead>
                        <tbody ng-repeat="educationDetail in scholorshipEnrollment.educationDetails">
                            <tr>
                                <td>
                                    <input type="text" ng-model="educationDetail.examPassed" id="examPassed" placeholder="Exam passed"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="educationDetail.instituteName"
                                           id="instituteName" placeholder="Institute name"/>
                                </td>

                                <td>
                                    <input type="text" ng-model="educationDetail.groupName" id="groupName"
                                           placeholder="Group name"/>
                                </td>
                                <td>
                                    <select ng-model="educationDetail.passingYear" id="passingYear">
                                        <option ng-repeat="year in yearOfPass" value="{{year}}">{{year}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" ng-model="educationDetail.percentageObtained"
                                           id="percentageObtained" placeholder="Percentage obtained"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="educationDetail.remark" id="remark"
                                           placeholder="Remark"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="3" align="right">
                                <input class="submit" type="submit" name="submit_first" id="submit_first" value="Next" />
                            </td>
                        </tr>
                    </table>
                </div>
                <br><br>
            </div>

            <!-- #second_step -->
            <div id="second_step">
                <div class="control-group,form">
                    <div style="border-radius:20px;border: 2px solid #3dad9c;">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Personal Details</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label class="control-label" for="code">Applicant Number</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.code}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="name">Name of The Student</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.name}}</label></td>
                                </tr>
                                    <td><label class="control-label" for="fatherOrMotherName">Father/Mother's Name</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.fatherOrMotherName}}</label></td>
                                <tr>
                                    <td><label class="control-label" for="dateOfBirth">Date Of Birth</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.dateOfBirth}}</label></td>
                                </tr>
                               <!-- <tr>
                                    <td><label class="control-label">Age</label></td>
                                    <td><label class="control-label">{{calculateAge(scholarshipEnrollment.dateOfBirth)}}</label></td>
                                </tr>-->
                                <tr>
                                    <td><label class="control-label" for="gender">Gender</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.gender}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="nationality">Nationality</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.nationality}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="religion">Religion</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.religion}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="caste">Cummunity</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.caste}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="caste">Caste</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.castee}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="maritalStatus">Marital Status</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.maritalStatus}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Annual income</label></td>
                                    <td><label class="control-label">{{annualIncome}}</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div style="border-radius:20px;border: 2px solid #3dad9c;">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
                        </tr>
                        </thead>
                            <tbody>
                                <tr>
                                    <td><label class="control-label" for="doorNumber">Adddress 1</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.address.doorNumber}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="streetName">Address 2</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.address.streetName}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="city">City</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.address.city}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="state">State</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.address.state}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="country">Country</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.address.country}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="postalCode">Postal Code</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.address.postalCode}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="mailId">Email Address</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.mailId}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="studentPhoneNumber">Student Mobile Number</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.studentPhoneNumber}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label" for="parentPhoneNumber">Parent Mobile Number</label></td>
                                    <td><label class="control-label">{{scholarshipEnrollment.parentPhoneNumber}}</label></td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div style="border-radius:20px;border: 2px solid #3dad9c;">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Qualification Details</label></td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="educationDetail in scholorshipEnrollment.educationDetails track by $index">
                                <tr>
                                    <td>
                                        <label class="control-label" for="examPassed">Examination Passed</label>
                                    </td>
                                    <td><label class="control-label">{{educationDetail.examPassed}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label" for="instituteName">Institute Name</label>
                                    </td>
                                    <td><label class="control-label">{{educationDetail.instituteName}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label" for="groupName">Group Name</label>
                                    </td>
                                    <td><label class="control-label">{{educationDetail.groupName}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label" for="passingYear">Year Of Passing</label>
                                    </td>
                                    <td><label class="control-label">{{educationDetail.passingYear}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label" for="percentageObtained">Percentage Obtained</label>
                                    </td>
                                    <td><label class="control-label">{{educationDetail.percentageObtained}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label" for="remark">Remarks</label>
                                    </td>
                                    <td><label class="control-label">{{educationDetail.remark}}</label></td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <div class="control-group">
                        <div class="controls" align="left">
                            <input class="button" type="submit" name="submit_back_first" id="submit_back_first" value="Back" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a ng-click="createNewScholarshipEnrollment()" class="btn btn-small btn-primary">Submit</a>
                        </div>
                    </div>
                    <br>
                    <br>

                    <br><br>
                </div>
            </div>
    </form>
</div>


<datalist id="religions">
    <option  data-ng-repeat="religion in commonAttributes.religion" value="{{religion}}">
</datalist>

<datalist id="castes">
    <option  data-ng-repeat="caste in commonAttributes.caste" value="{{caste}}">
</datalist>



