<div style="border-radius:20px;border: 2px solid #3dad9c;">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <td colspan="2" style="min-width: 20px;" align="center"><label class="control-label">Address Details</label></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label class="control-label" for="address1">Adddress Line 1</label></td>
            <td><input type="text" ng-model="data.address.address1" id="address1"
                       placeholder="Adddress Line 1"/></td>
        </tr>
        <tr>
            <td><label class="control-label" for="address2">Adddress Line 2</label></td>
            <td><input type="text" ng-model="data.address.address2" id="address2"
                       placeholder="Adddress Line 2"/></td>
        </tr>
        <tr>
            <td><label class="control-label" for="address3">Adddress Line 3</label></td>
            <td><input type="text" ng-model="data.address.address3" id="address3"
                       placeholder="Adddress Line 3"/></td>
        </tr>
        <tr>
            <td><label class="control-label" for="taluk">Taluk</label></td>
            <td><input type="text" ng-model="data.address.taluk" id="taluk" placeholder="Taluk"/></td>
        </tr>
        <tr>
            <td><label class="control-label" for="district">District</label></td>
            <td><input type="text" ng-model="data.address.district" id="district"
                       placeholder="District"/></td>
        </tr>
        <tr>
            <td><label class="control-label" for="postalCode">Postal Code</label></td>
            <td><input type="number" ng-model="data.address.postalCode" id="postalCode"
                       placeholder="Postal code"/></td>
        </tr>
        </tbody>
    </table>
</div>
