<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Branches
    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in courses" class="success">
                    <td>{{ course.code }}</td>
                    <td>{{ course.name }}</td>
                    <td><a ng-click="editCourse(course.id)" class="btn btn-small btn-primary"><i class="fa fa-edit fa-fw"></i>Edit</a></td>
                    <td><a ng-click="deleteCourse(course.id)" class="btn btn-small btn-danger"><i class="fa fa-recycle fa-fw"></i>Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="well">
            <a ng-click="createNewCourse()" class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>New Course</a>
        </div>
    </div>
</div>
