<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Create New Branches
    </div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="code">Code</label></td>
                    <td><input type="text" id="code" ng-model="branch.code" placeholder="code" disabled/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="name">Name</label></td>
                    <td><input type="text" id="name" ng-model="branch.name" placeholder="name"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label">Active/Inactive</label></td>
                    <td>
                        <label class="control-label">Active</label>&nbsp;<input type="radio" name="isActive" value="1" ng-model="branch.isActive">
                        <label class="control-label">In Active</label>&nbsp;<input type="radio" name="isActive" value="0" ng-model="branch.isActive">
                    </td>
                </tr>
            </table>
            <table width="75%" class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="even gradeA">
                    <td colspan="2"><label class="control-label">Address Details</label></td>
                </tr>
                </thead>
                <tbody>
                <tr class="even gradeA">
                    <td><label class="control-label" for="doorNumber">Adddress 1</label></td>
                    <td><input type="text" ng-model="branch.address.doorNumber" id="doorNumber" placeholder="address 1"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="streetName">Address 2</label></td>
                    <td><input type="text" ng-model="branch.address.streetName" id="streetName" placeholder="address 2"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="city">City</label></td>
                    <td><input type="text" ng-model="branch.address.city" id="city" placeholder="city"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="state">State</label></td>
                    <td><input type="text" ng-model="branch.address.state" id="state" placeholder="state"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="country">Country</label></td>
                    <td><input type="text" ng-model="branch.address.country" id="country" placeholder="country"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="postalCode">Postal Code</label></td>
                    <td><input type="text" ng-model="branch.address.postalCode" id="postalCode" placeholder="postal code"/></td>
                </tr>
                </tbody>
            </table>
            <div class="well">
                <a ng-click="updateBranch()" class="btn btn-small"><i class="fa fa-edit fa-fw fa-align-left"></i>Update Branch</a>
                <a ui-sref="home.branch-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Branches</a>
            </div>
        </form>
    </div>
</div>

