<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Create New Branches
    </div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="code">Code</label></td>
                    <td><input type="text" id="code" ng-model="branch.code" placeholder="Code" maxlength="10" style="width:94px;"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="name">Name</label></td>
                    <td><input type="text" id="name" ng-model="branch.name" placeholder="Name"  maxlength="30" style="width:282px;"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label">Active/Inactive</label></td>
                    <td>
                        <label class="control-label">Active</label>&nbsp;<input type="radio" name="isActive" value="1" ng-model="branch.isActive">
                        <label class="control-label">In Active</label>&nbsp;<input type="radio" name="isActive" value="0" ng-model="branch.isActive">
                    </td>
                </tr>
            </table>
            <span address-template data="branch"> </span>
            <div class="well">
                <a ng-click="createNewBranch()" class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>Submit Branch</a>
                <a ui-sref="home.branch-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Branches</a>
            </div>
        </form>
    </div>
</div>

