<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-bank fa-fw"></i> Branches</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Create New Branches
    </div>
    <div class="panel-body">
        <form name="branchForm" novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td  class="firstcol"><label class="control-label" for="code">Code</label></td>
                    <td><input type="text" name="code" id="code" ng-model="branch.code" placeholder="Code" maxlength="10" ng-minlength="5" required style="width:94px;"/>
                        <span class="error" ng-messages="branchForm.code.$error" ng-if="branchForm.code.$touched">
                            <span ng-message="required">Code is required.</span>
                            <span ng-message="minlength">Code is too short</span>
                        </span>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label" for="name">Name</label></td>
                    <td><input type="text" name="name" id="name" ng-model="branch.name" placeholder="Name"  maxlength="30" style="width:282px;" required/>
                        <span class="error" ng-messages="branchForm.name.$error" ng-if="branchForm.name.$touched">
                            <span ng-message="required">Name is required.</span>
                        </span>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label">Active/Inactive</label></td>
                    <td>
                        <input type="radio" name="isActive" value="1" ng-model="branch.isActive" /><label class="control-label">&nbsp; Active</label>&nbsp;
                        <input type="radio" name="isActive" value="0" ng-model="branch.isActive"/><label class="control-label">&nbsp; In Active</label>&nbsp;
                    </td>
                </tr>
            </table>
            <span address-template addfrm="branchForm" data="branch"> </span>
            <br>
            <div class="well">
                <a  ng-click="createNewBranch()"  class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>Submit</a>
                <a ui-sref="home.branch-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Branches</a>
            </div>
        </form>
    </div>
</div>
<br>
