<div class="container">
    <h1>Create a User</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">User Name:</label>
            <div class="controls">
                <input type="text" id="name" ng-model="user.name" placeholder="User Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstName">First Name:</label>
            <div class="controls">
                <input type="text" id="firstName" ng-model="user.firstName" placeholder="First Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName">Last Name:</label>
            <div class="controls">
                <input type="text" id="lastName" ng-model="user.lastName" placeholder="Last Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="role">Role : </label>
            <div class="controls">
                <input type="text" ng-model="user.role" list="roles"  id="role" placeholder="Role"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="branch">Branch:</label>
            <div class="controls">
                <input type="text" ng-model="user.branch" list="branchNames" id="branch" placeholder="Branch"/>
            </div>
        </div>
        <datalist id="roles">
            <option  data-ng-repeat="role in roles" value="{{role}}">
        </datalist>
        <datalist id="branchNames">
            <option  data-ng-repeat="bn in branchNames" value="{{bn}}">
        </datalist>
        <br>
        <br>
        <div class="control-group">
            <div class="controls">
                <a ng-click="#/user-list" class="btn btn-small">cancel</a>
                <a ng-click="createNewUser()" class="btn btn-small btn-primary">create new user</a>
            </div>
        </div>
    </form>
</div>
