﻿<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-users fa-fw"></i> Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-5 pull-right">
                    <label for="filter" class="col-lg-2 control-label filter">Search:</label>
                    <div class="col-lg-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid" type="text" placeholder="Filter" ng-model="user_filter" id="filter">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="table-responsive" loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" show-filter="true" class="table ng-scope ng-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Branch</th>
                            <th style="max-width: 30px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in $data | filter: user_filter" class="success">
                            <td>{{$index + 1 }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.firstName + ' ' + user.lastName }}</td>
                            <td>{{ user.role}}</td>
                            <td>{{ getBranchDesc(user.branch) }}</td>
                            <td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary"><i class="fa fa-edit fa-fw"></i>Edit</a>
                                &nbsp;
                                <a ng-click="resetPassword(user.id)" class="btn btn-small btn-primary"><i class="fa fa-refresh fa-fw"></i>Reset Password</a>
                                &nbsp;
                                <!--disabling the deletion functionality of SUPER_ADMIN role based user to prevent deleting ADMIN  by itself.-->
                                <a ng-if="user.role!= 'SUPER_ADMIN'" confirm="Do you want to delete {{user.name}} ?" confirm-title="User Delete Confirmation" ng-click="deleteUser(user.id)" class="btn btn-small btn-danger"><i class="fa fa-recycle fa-fw"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="$data.length==0" class="info no_data" colspan="9">
                                No Record Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <a ng-click="createNewUser()" class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>New User</a>
        </div>
    </div>
</div>
<br>