<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-users fa-fw"></i> Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>User Detail</h5>
    </div>
    <div class="panel-body">

        <form novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="name">User Name:</label></td>
                    <td><input type="text" id="name" ng-model="user.name" placeholder="User Name" maxlength="10" style="width:94px;"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="firstName">First Name:</label></td>
                    <td><input type="text" id="firstName" ng-model="user.firstName" placeholder="First Name" maxlength="15" style="width:141px;"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="lastName">Last Name:</label></td>
                    <td><input type="text" id="lastName" ng-model="user.lastName" placeholder="Last Name" maxlength="15" style="width:141px;"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="role">Role : </label></td>
                    <td><input type="text" ng-model="user.role" list="roles"  id="role" placeholder="Role" style="width:141px;"/></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="branch">Branch:</label></td>
                    <td><input type="text" ng-model="user.branch" list="branchNames" id="branch" placeholder="Branch" style="width:282px;"/></td>
                </tr>


            </table>
            <datalist id="roles">
                <option  data-ng-repeat="role in roles" value="{{role}}">
            </datalist>
            <datalist id="branchNames">
                <option  data-ng-repeat="bn in branchNames" value="{{bn}}">
            </datalist>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="updateUser()" class="btn btn-small btn-primary">update user</a>
                    <a ui-sref="home.user-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Users</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br>