<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Access Privileges</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default" ng-init="init()">
    <div class="panel-body">
        <div class="row" ng-repeat="role in roles">
            <div class="col-lg-12">
                <div class="col-lg-12 pull-left">
                    <label class="col-lg-4 control-label filter">{{role.name}}</label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table class="table ng-scope ng-table">
                    <thead>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <th colspan="4" class="success">Allowed Operations</td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td><a ng-click="save(role.id)" class="btn btn-small btn-primary"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>Modify Privilege</a></td>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Privileges</th>
                        <th>Allowed Access</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="securedOperation in securedOperations | filter: { type: 'OPERATION' }">
                        <td>{{$index + 1 }}</td>
                        <td>{{securedOperation.operation}}</td>
                        <td>Access to view all pages of {{securedOperation.operation}}</td>
                        <td align="center"><input id="linkedOperations"
                                    type="checkbox"
                                    name="selectedOperations[]"
                                    value="{{securedOperation.id}}"
                                    ng-checked="isChecked(securedOperation.id, role.id)"
                                    ng-click="toggleSelection(securedOperation.id)">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <th colspan="4" class="success">Allowed URL's</td>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Privileges</th>
                        <th>Allowed Access</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr ng-repeat="securedOperation in securedOperations | filter: { type: 'URL' }">
                        <td>{{$index + 1 }}</td>
                        <td>{{securedOperation.operation}}</td>
                        <td>Allowed to access url's under {{securedOperation.operation}}</td>
                        <td align="center"><input  id="linkedOperations"
                                    type="checkbox"
                                    name="selectedOperations[]"
                                    value="{{securedOperation.id}}"
                                    ng-checked="isChecked(securedOperation.id, role.id)"
                                    ng-click="toggleSelection(securedOperation.id)">
                        </td>
                    </tr>
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
</div>
<br>