<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-gears fa-fw"></i> Roles</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default" ng-init="init('role', ['/role'])">
    <div class="panel-heading">
        Create Role
    </div>

    <div class="panel-body">
        <form name="roleForm" novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label" for="name">Role :</label></td>
                    <td><input type="text" name="name" id="name" ng-model="entity.name" placeholder="Role" maxlength="25" style="width:235px" required/>
                        <span class="error" ng-messages="roleForm.name.$error" ng-if="roleForm.name.$touched">
                            <span ng-message="required">Role is required.</span>
                        </span>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label" for="desc">Desc:</label></td>
                    <td><textarea type="text" name="desc" id="desc" ng-model="entity.desc" placeholder="Desc" style="width:235px" required/>
                        <span class="error" ng-messages="roleForm.desc.$error" ng-if="roleForm.desc.$touched">
                            <span ng-message="required">Describtion is required.</span>
                        </span>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="save()" ng-class="{linkdisabled: roleForm.$invalid}" class="btn btn-small btn-primary">Submit</a>
                    <a ui-sref="home.role-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Roles</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br>