<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-gears fa-fw"></i> Roles</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default" ng-init="init('role', ['/role'])">
    <div class="panel-heading">
        Update Role
    </div>

    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal" ng-init="loadEntity()">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="name">Role :</label></td>
                    <td><input type="text" id="name" ng-model="entity.name" maxlength="25" style="width:235px" /></td>
                </tr>
                <tr class="even gradeA">
                    <td><label class="control-label" for="desc">Desc:</label></td>
                    <td><textarea type="text" id="desc" ng-model="entity.desc" placeholder="Desc" style="width:235px"/></td>
                    <!--<td><input type="text" id="desc" ng-model="entity.desc" /></td>-->
                </tr>
            </table>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="update()" class="btn btn-small"><i class="fa fa-pencil-square-o fa-fw fa-align-left"></i>Update Role</a>
                    <a ui-sref="home.role-list" class="btn btn-small"><i class="fa fa-list-alt fa-fw fa-align-left"></i>Roles</a>
                </div>
            </div>
        </form>
     </div>
</div>
<br>