<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-bars fa-fw"></i> Fees Components</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Fees Particular detail
    </div>

    <div class="panel-body">
        <form name="feesForm" novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label" for="code">Code:</label></td>
                    <td><input type="text" name="code" id="code" ng-model="feesParticular.code" placeholder="Code" maxlength="10" style="width:94px;" required/>
                        <span class="error" ng-messages="feesForm.code.$error" ng-if="feesForm.code.$touched">
                            <span ng-message="required">Code is required.</span>
                        </span>
                    </td>
                </tr>
                <tr class="even gradeA">
                    <td class="firstcol"><label class="control-label" for="name">Name:</label></td>
                    <td><input type="text" name="name" id="name" ng-model="feesParticular.name" placeholder="Name" maxlength="30" style="width:282px;" required/>
                        <span class="error" ng-messages="feesForm.name.$error" ng-if="feesForm.name.$touched">
                            <span ng-message="required">Name is required.</span>
                        </span>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="cancel()" class="btn btn-small">cancel</a>
                    <a ng-click="updateFeesParticular()" ng-class="{linkdisabled: feesForm.$invalid}" class="btn btn-small btn-primary">Update</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br>