<div class="container">
    <h1>Fees Particular detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="code">Code</label>

            <div class="controls">
                <input type="text" id="code" ng-model="feesParticular.code"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">Name:</label>
            <div class="controls">
                <input type="text" id="name" ng-model="feesParticular.name"/>
            </div>
        </div>
        <br><br>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateFeesParticular()" class="btn btn-small btn-primary">update fees particular</a>
            </div>
        </div>
    </form>
</div>
