<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Fees Particular detail
    </div>

    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal">
            <table width="75%" class="table table-striped table-bordered table-hover">
                <tr class="even gradeA">
                    <td><label class="control-label" for="code">Code</label></td>
                    <td><input type="text" id="code" ng-model="feesParticular.code"/></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="name">Name:</label></td>
                    <td><input type="text" id="name" ng-model="feesParticular.name"/></td>
                </tr>
            </table>
            <br>
            <br>
            <div class="well">
                <div class="controls">
                    <a ng-click="cancel()" class="btn btn-small">cancel</a>
                    <a ng-click="updateFeesParticular()" class="btn btn-small btn-primary">update fees particular</a>
                </div>
            </div>
        </form>
    </div>
</div>